@import "./global.scss";

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: $font-family-body;

  &.home{

  }

  .content{
    min-height:80vh;
    @include display-flex(column, nowrap, stretch, stretch, stretch);
    width: 100%;
    margin-top: 67px;
  }
}



:global{
  .ReactModal__Body--open {
    overflow: hidden;
  }



  body{
    overflow-x: hidden;
  }

  .contact-close{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .contact-over-flow{
    bottom: 100%;
    overflow: hidden;
    transition: all 0.5s;
  }

  .contact-over-flow-open-d{
    bottom: 0;
    overflow: auto;
  }


  .slide-in-appear {
    transform: translateY(20px);
    transition: all 1.5s ease;
    opacity: 0;

    &.slide-in-appear-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-in-enter {
    transform: translateY(20px);
    transition: all 1.5s ease;

    &.slide-in-enter-active {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 540px) {
  :global{
    .ReactModal__Content{
      top:20px !important;
    }
  }
}


