@import "./sass-variable.scss";

.footer{
  background-color: $footer-bg-color;
  width: 100%;

  .content{
    max-width: $max-width;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    @include display-flex(row, wrap, space-between, stretch, stretch);

    .column{
      padding: 0 10px;
    }

    ul, p{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    p,li,a,h4{
      font-size: $footer-font-size;
      line-height: 20px;
      color: $footer-text-color;
      font-family: $font-family-nav;
    }

    a{
      &:hover{
        text-decoration: underline;
      }
    }

    .icon a{
      padding-right: 10px;
    }

    .link1{
      margin-top: 30px;
      list-style: none;

      li{
        float: left;
        padding-right: 40px;
      }
    }

    .blog-list,
    .link-list{
      h4{
        font-size: 0.85rem;
        margin-bottom: 10px;
      }

      p{
        font-size: 0.75rem;
        margin-bottom: 10px;
      }
    }

    .blog-list{
      max-width: 220px;
    }

    .subscribe{
      padding-top: 3%;
    }

    .icon-list{
      position: relative;
    }

    .subscribe{
      width: 260px;
    }

    .subscribe h4{
      margin-bottom: 10px;
      text-align: center;
    }

    &.copyright{
      padding: 0 0 20px 0;
      display: flex;
      justify-content: flex-end;

      p{
        padding-right: 40px;

        &:last-child{
          padding-right: 15px;
        }

        span{
          color: $footer-cp-color !important;
        }
      }

      p:first-child{
        padding-right: 20%;
      }
    }

    .love{

      svg{
        margin-bottom: -4px;
      }
    }

    .language{
      width: 100%;
      float: left;
      margin-top: 35px;

      button{
        outline: 0;
        background-color: transparent;
        border: 0;
        color: $footer-cp-color;
        margin-right: 20px;
        padding: 4px 15px;
        cursor: pointer;

        &.active{
          border: 1px #fff solid;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 540px){
  .column{
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
  }

  ul.link1{
    display: inline-block;
    margin-left: 40px !important;
  }
  .icon-list{
    .link1,
    .language{
      margin-top: 10px !important;
    }

    .language{
      margin-bottom: 10px !important;
    }
  }



  .copyright{
    display: inline-block !important;
    text-align: center;
    width: 100%;

    p{
      padding-right: 0 !important;
    }
  }
}
