@import "./sass-variable.scss";

.form-base {
  @include display-flex(row, wrap, center, center, flex-start);
  width: 100%;
  max-width: 30rem;
  flex: 1;

  form{
    width: 100%;
  }

  .form-line{
    @include display-flex(row, wrap, center, center, flex-start);
    padding: 20px 0;
    border-bottom: 1px #E0E0E0 solid;
    font-size: $header-1-font-size;
    color: $header-1-color;
  }

  .form-link {
    @include display-flex(row, wrap, space-between, center, flex-start);
    width: 100%;
    margin-top: 20px;
  }

  .verification{
    position: relative;

    div.verification_code{
      width: 150px;
      height: 40px;
      position: absolute;
      right: 0;
      top:15px;
    }
  }

  .error-info{
    font-size: 0.75rem;
    color: red;
  }

}

@media (min-width: 1200px){
  .#{$prefix} .form-base{
    min-width: 400px;
  }
}
