@import "./sass-variable.scss";

.home {
  width: 100%;

  .content {
    @include content-size;
  }

  .header {
    text-align: center;
    color: $home-header-text-color;
    background:  no-repeat top center $banner-bg-color;
    position: relative;

    .canvas{
      position: absolute;
      z-index: 1;
      background-color: $banner-bg-color;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      //display: none;
    }


    .content{
      @include display-flex(column, wrap, center, center, center);
      height: 100%;
      position: absolute;
      top:0;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, 0);
    }

    h1, h2{
      font-weight: normal;
      padding-bottom: 30px;
    }

    h1{
      font-size: $home-header-h1-size;
    }

    h2{
      font-size: $home-header-h2-size;
    }

    button{
      @include join-new-button;
    }

    .arrow{
      display: inline-block;
      text-align: center;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      svg{
        width: 60px;
      }
    }
  }

  .part2 {
    padding: 60px 0;
    background-color: #fff;
    position: relative;
    z-index: 5;

    .content{
      @include display-flex(row, wrap, space-between, stretch, stretch);

      div.text{
        flex: 60%;
        padding-right: 60px;

        h2{
          font-size: $home-part-title-size;
          margin-bottom: 30px;
          color: $home-part2-text-color;

        }

        p{
          font-size: $home-part-sub-title-size;
          color: $home-part2-text-color;
          line-height: 25px;
        }

        button{
          @include join-new-button;
          margin-top: 40px;
        }
      }

      img{
        margin-top: 40px;
        width: 100%;
        height: 100%;
        max-width: 300px;
      }
    }

  }

  .part3{
    background:  url("../resources/img/part2-earth.png")  no-repeat 25% center #1573AF;
    min-height: 405px;

    .right-text{
      width: 50%;
      float: right;

      h4{
        @include part-title;
        margin: 40px 0 10px 0;
        color: #fff;
        text-align: left;
      }

      p{
        font-size: $home-part-sub-title-size;
        color: #fff;
        line-height: 20px;
      }

      dl{
        padding: 0;
        margin: 40px 0 0 0;

        dd{
          font-size: $home-part-sub-title-size;
          color: #fff;
          padding: 0;
          margin: 0 0 15px 0;
        }
      }
    }
  }

  .part4{
    margin-top: -5px;
    background-color: #fff;
    padding: 60px 0;

    .time-line{
      @include display-flex(row, nowrap, center, center, center);
    }

    h2{
      @include part-title;
    }
  }

}

@media screen and (max-width: 830px){
  .header {
  }

  .content{
  }

  .part2{
    text-align: center;

    .text{
      width: 100%;
      padding: 0 20px !important;
    }

    img{
      margin: 0 auto;
    }
  }

  .part3{
    background:  url("../resources/img/part2-earth.png")  no-repeat center center #1573AF !important;
    padding: 0 20px !important;

    .right-text{
      width: 100% !important;
      float: left;
    }
  }
}

@media screen and (max-width: 540px) {
  .time-line{
    display: inline-block !important;
    width: 100% !important;
  }
  .header {
    background-size: auto !important;
    .canvas{
      display: none !important;
    }
  }
}