@import "./sass-variable.scss";

.how-to-works {

  .content {
    @include content-size();
  }

  .header {
    @include page-banner('../resources/img/how-it-works-banner.png');
    @include page-header();
  }

  h2 {
    @include part-header-title;
  }

  .basics {
    @include part-common;

    .text {
      @include display-flex(row, wrap, space-between, stretch, stretch);
      p {
        flex: 60% 1;
        color: rgba(153, 153, 153, 1);
        text-align: left;
        line-height: 25px;
        padding-right: 200px;
        font-size: 1.25rem;
      }

      img {
        max-width: 180px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .read {
    @include part-common;

    .download {

      text-align: center;

      a {
        color: rgba(52, 178, 229, 1);
        margin: 10px 0;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
          span{

            text-decoration: underline;
          }
        }
        span{
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .text {
    p{
      padding: 0 20px !important;
      width: 100% !important;
      text-align: center !important;
    }

    img{
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1920px){
  .how-to-works {

    .header {
      background-size: 100% 100%;
    }
  }
}