$font-family-body: 'Rockwell';
$font-family-nav: 'Helvetica';

$font-size-14: 14px;

$link-hover-color: rgb(0, 188, 212);
$link-color: rgb(51, 51, 51);

$header-link-color:#fff;
$header-bg-color: #fff;
$header-link-color-not-home: rgba(45, 171, 226, 1);
$header-link-hover-color-not-home:  rgba(18, 76, 138, 1);

$home-header-text-color: #fff;
$home-header-bg-color:#1951A3;
$home-header-h1-size: 2.7rem;
$home-header-h2-size: 1.2rem;
$home-button-bg-color: rgba(45, 171, 226, 1);
$home-body-bg-color: #FAFAFA;
$home-part2-text-color: rgba(18, 74, 137, 1);
$home-part-title-size: 1.8rem;
$home-part-sub-title-size: 1.125rem;
$home-part4-sub-title-size: 0.75rem;
$home-part4-sub-title-color: #838088;
$home-part4-line-border-color: #A3A3A3;

$team-page-core-team-title-color: #2dabe3;
$team-page-advisors-title-color: #1a4684;
$team-page-people-title-size: 1.1rem;
$team-page-people-description-color: #888;
$team-page-people-description-size: 0.85rem;

$user-cases-page-sub-title-color: rgba(153, 153, 153, 1);
$user-cases-page-sub-title-size: 0.85rem;

$page-part-title-border-color:rgba(204, 204, 204, 1);

$footer-bg-color: rgba(30, 32, 38, 1);
$footer-text-color: #fff;
$footer-font-size: 0.75rem;
$footer-cp-color: #7D7E82;

$banner-bg-color: #1951A3;
$banner-max-height: 20rem;

$text-color: #999;
$color_h2_text :#999;

$max-width: 65rem;

$subscribe-button-bg-color: rgba(45, 171, 226, 1);
$subscribe-button-text-color: #fff;
$subscribe-error-text-color: red;

$header-1-color: rgb(0, 188, 212);
$header-1-font-size: 1.2rem;

$page-header-color: #fff;

$xuc-header-color: #1AA4DC;

@mixin display-flex($flex-direction, $flex-wrap,  $justify-content, $align-items, $align-content) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content:$align-content;
}

@mixin clear-margin-padding(){
  margin: 0;
  padding: 0;
}

@mixin border-radios($border-radios){
  border-radius: $border-radios;
}

@mixin header1() {
  color: $header-1-color;
  font-size: $header-1-font-size;
}

@mixin content-size(){
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin page-banner($header-bg-img-url){
  background: url($header-bg-img-url) top center no-repeat;
}


@mixin page-header{
  font-size: 3rem;
  color: $page-header-color;
  font-family: $font-family-body;
  padding: 120px 0 120px 0;

  .title{
    padding: 0 40px;
  }
}

@mixin join-new-button{
  border: 0;
  outline: none;
  background-color: $home-button-bg-color;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 4px;
  color: $home-header-text-color;
  font-family: $font-family-nav;
}

@mixin part-header-title {
  @include part-title;

  span {
    padding-bottom: 15px;
    border-bottom: 2px $page-part-title-border-color solid;
  }
}

@mixin part-header-description{
  color: $user-cases-page-sub-title-color;
  font-size: $user-cases-page-sub-title-size;
  line-height: 25px;
  margin-bottom: 40px;
}


@mixin part-title{
  width: 100%;
  text-align: center;
  font-size: $home-part-title-size;
  color: $home-part2-text-color;
  margin-bottom: 60px;
}

@mixin part-common{
  padding: 40px 0;
  width: 100%;
  text-align: center;
}
