@import "./sass-variable.scss";

.subscribe{
  font-family: $font-family-nav;

  .input-group{
    width: 100%;
    @include display-flex(row, nowrap, space-between, stretch, stretch);

    input{
      height: 30px;
      padding: 0 5px;
      flex: 1 1 auto;
      font-size: 0.8rem;
    }

    button{
      position: relative;
      border: 0;
      outline: none;
      background-color: $subscribe-button-bg-color;
      width: 78px;
      cursor: pointer;
      padding: 0 10px;
      color: $subscribe-button-text-color;
      font-size: 0.8rem;

      &>div{
        position: absolute;
        top: -12px;
      }
    }


  }

  p.error{
    font-size: 0.8rem;
    color: $subscribe-error-text-color !important;
  }

  p.success{
    font-size: 0.8rem;
    color: $subscribe-button-bg-color !important;
  }

}