@import "./sass-variable.scss";

.use-cases{

  .content{
    @include content-size();
  }

  .header{
    @include page-banner('../resources/img/use-cases-banner.png');
    @include page-header();
  }

  h2{
    @include part-header-title;
  }

  .cross,
  .base,
  .experience{
    @include part-common;

    p{
      @include part-header-description;
    }

    img{
      width: 100%;
    }
  }

  .cross{
    .content>div{
      margin-top: -60px !important;
      margin-bottom: -60px !important;
    }

  }

  .base{
    background-color: #efefef;
    padding-bottom: 120px;
  }

  .experience{

  }
}

@media screen and (max-width: 830px) {
  .cross,
  .base,
  .experience{
    h4,p{

      padding: 0 20px !important;
    }
    svg{
      width: 97% !important;
    }
  }

}

@media screen and (min-width: 1920px){
  .use-cases {

    .header {
      background-size: 100% 100%;
    }
  }
}